<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/colors-dark.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>



  <header id="header">
    <h1><a href="/"><i class="fa fa-linux"></i> {{ site.name }}</a></h1>
    <p>{{ site.description }}</p>
  </header>



  <div id="page">



    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archives">Archiv</a></li>
          <li><a href="/about">Über</a></li>
          <li><a href="/members">Mitglieder</a></li>
          <li><a href="/feed.xml">RSS Feed</a></li>
        </ul>
      </nav>
    </div>



    <div id="content">
      {{ content }}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.name }}. <a href="/imprint">Impressum</a></p>
    <p>
    <a href="https://twitter.com/linuxheilbronn"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://github.com/linuxheilbronn"><i class="fa fa-github fa-2x"></i></a>
    <a href="https://www.meetup.com/de-DE/Region-Heilbronn-Linux-User-Group/"><i class="fa fa-calendar-plus-o fa-2x"></i></a>
    </p>
  </footer>



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/assets/js/jquery.mobilemenu.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>



</body>
</html>